SERVER=
TOKEN=
APIKEY=
ECONOMY_STATE_PATH=http://192.168.4.43:4444/economy
ECONOMY_HTTP_HEADER_KEY=
ECONOMY_HTTP_HEADER_VALUE=
OPIZERO3_STATE_PATH=http://192.168.4.43:4444/opizero3_state
DHT_PIN=7
DHT_TYPE=11
DHT_MOCK=false
# OPi.GPIO pin numbering mode for Orange Pi:
# BOARD = physical pin number (7 = pin7 on header)
# SUNXI = Allwinner SoC GPIO number (PA7=7, PC7=71, etc.)
DHT_GPIO_MODE=BOARD